* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
svg {
  position: absolute;
  width: 200px;
  fill: rgb(0, 81, 255);
}
h1{
  position: absolute;
  
}
@media (max-width: 768px) {
  svg {
    width: 150px;
  }
}
